@use '../utilities.scss' as *;

#page-perfil {

  margin-top: 30px;

  .body {
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;

    @include mobile(){
      display: flex;
      flex-direction: column;
    }

    .barra-menu {


      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .menu {
        list-style-type: none;
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        @include desktop() {
          flex-direction: column;
        }

        .components {
          @include mobile() {
            font-size: 12px;
          }
          width: 100%;
          button {
            width: 100%;
            border: none;
            color: #2A394D;

            @include mobile () {
              padding: 5px;
              border-radius: 12px;
            }

            &:hover {
              background: #E7F1F9;
              color: #0D7CCE;
            }

            &.active {
            background: #E7F1F9;
            color: #0D7CCE;
            font-weight: 600;
          }
          }
        }
      }

      .line {
        display: none;
        margin: 10px;
        @include mobile () {
          display: block;
        }
      }


    }
  }

}


#mis-datos-perfil {

  .title-perfil {
    text-align: center;
    font-size: 20px;

  }
  .body-perfil {

    &__view-data {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 12px;

      @include mobile () {
        grid-template-columns: 1fr;
        gap: 8px;
      }

      .info-data {
        padding: 12px;
        background: #fafafa;
        margin: 0px 20px;
        @include mobile () {
          border: 1px solid #e0e0e0;
          border-radius: 8px;
          margin: 20px;
        }

        &.disable {
          display: none;
        }
        &.address-data {
      background: #f0f8ff;
      border-color: #b3d9ff;
    }
    .detalle {
      display: flex;
      flex-direction: column;
      &__title {
        color: #0D7CCE;
        font-weight: 600;
      }
      &__contenido {
      font-weight: 500;
      color: #333;
      }
    }

      }
    }

    &__button {
      width: 100%;
      display: flex;
      padding: 1rem;
      justify-content: flex-end;
      button {
        background-color: red;
        color: white;
        font-weight: 500;
        width: 100px;
        border: 1px red;
        border-radius: 8px;
        height: 40px;
      }
    }

  }

}
