@use 'utilities' as *;

.footer{
  background: #E53935;
  margin: 0px -8px;
  //position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;

  &__sup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 10px;

    @include mobile(){
      flex-direction: column;
      align-items: center;
      padding: 0%;
      width: 100%;
    }

    .section{

      &__logo{
        font-size: 25px;
        font-weight: 600;
        height: 10rem;
        display: flex;
        align-items: center;
        .text-orange{
          color: #F5A61A;
          .text-white{
            color: white;
          }
        }
      }

      &__options{
        font-size: 15px;
        @include mobile(){
          width: 100%;
        }

        &__title{
          font-weight: bolder;
          text-align: center;
          padding-top: 20px;
          justify-content: space-between;
          .icon-plus{
            display: none;
          }
          @include mobile(){
            border-bottom: 2px solid #525252;
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--dark{
              background: black;
              border-bottom: 5px solid #F5A61A;
            }
            &--none{
              background: none;
              border-bottom: none;
              padding-top: 10px;
    text-align: center;
    font-weight: bold;
            }
            .title{
              @include mobile(){
                width: 80%;
                text-align: start;
              }
            }
            .icon-plus{
              display: block;
              width: 20px;
            }
          }
        }

        &__body{
          display: flex;
          align-items: center;
          gap: 10px;
          flex-direction: column;
          // para ver mejor
          height: 10em;

          @include mobile(){
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
            color: white;
            flex-direction: column;

            opacity: 0;
            transform: translateY(-10px);
            max-height: 0;
            overflow: hidden;
            transition: all 1s ease;
            pointer-events: none;

              &--visible {
                opacity: 1;
                transform: translateY(0);
                max-height: 1000px; // o lo que necesites
                transition: all 1s ease;
                pointer-events: auto;
              }
          }
          .list-options{
            list-style: none;
            padding-left: 0px;
            .option{
              margin-bottom: 10px;

              &__menu-item{
                cursor: pointer;
                font-size: 15px;
                text-decoration: none;
                color: white;
                padding-bottom: 5px;
                margin: 0px;

                &:hover{
                  color: #F5A61A;
                }
              }

              &__contact-item{
                display: flex;
                align-items: center;
                font-size: 15px;
                gap: 10px;
                margin-bottom: 10px;
                .img{
                  height: 17px;
                  width: auto;
                }
                .footer-menu-p{
                  margin: 0px;
                }
              }

              &__pago-item{
                display: block;
                width: 150px;
                height: auto;
                border-radius: 20px;
                padding-top: 10px;
              }
            }


          }

        }
      }
    }
  }
  &__inf{
    margin: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
  }
}

/*

.container-footer{
  background: #191919;
  margin: 0px -8px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  @include mobile(){
    //height: 200px;
  }
  .container-footer-sup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 10px;
    @include mobile(){
      flex-direction: column;
      align-items: center;
      padding: 0%;
      width: 100%;
    }
    .footer-logo{
      font-size: 25px;
      font-weight: 600;
      .text-orange{
        color: #F5A61A;
        .text-white{
          color: white;
        }
      }
    }
    .footer-menu{
      font-size: 15px;
      color: white;
      @include mobile(){
        width: 95%;
      }
      .container-menu-item-title{
        font-weight: bolder;
        text-align: center;
        @include mobile(){
          display: flex;
          width: 100%;
        }
        .title{
          margin: 10px 0px;
          @include mobile(){
            width: 80%;
            margin: 0px;
          }
        }
        .icon-plus{
          display: none;
        }
        @include mobile(){
          border: 2px solid #F5A61A;
          width: 100%;
          padding: 10px 0px;
          margin: 5px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-plus{
            display: block;
            width: 20px;
          }
        }
      }
      // para el aparta de sitios web
      .container-menu-item{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        color: white;
        flex-direction: column;
        @include mobile(){
          display: none;
        }

        .menu-item{
          cursor: pointer;
          text-decoration: none;
          color: white;
          &:hover{
            color: #F5A61A;
          }
        }
      }
      // para mobile
      .container-menu-item-mobile{

        @include mobile(){
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 15px;
          color: white;
          flex-direction: column;

          opacity: 0;
          transform: translateY(-10px);
          max-height: 0;
          overflow: hidden;
          transition: all 1s ease;
          pointer-events: none;

            &--visible {
              opacity: 1;
              transform: translateY(0);
              max-height: 1000px; // o lo que necesites
              transition: all 1s ease;
              pointer-events: auto;
            }

          .menu-item{
            cursor: pointer;
            text-decoration: none;
            color: white;
            &:hover{
            color: #F5A61A;
            }
          }
        }


      }
      // para el apartado de contacto
      .footer-menu-contact-item{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        color: white;
        @include mobile(){
          display: none;
        }
        .footer-menu-p{
          margin: 0px;
        }
      }
      .footer-pago-footer{
        @include mobile(){
          display: none;
        }
        width: 150px;
        height: auto;
        border-radius: 20px;
      }

    }
  }
  .container-footer-inf{
    margin: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
  }
}
*/
