.banner {
  overflow: hidden; // Oculta el contenido fuera del área visible
  position: relative;
  margin: 8px -8px;
  &__slider {
    display: flex; // Coloca los slides uno al lado del otro
    transition: transform 0.5s ease-in-out; // Hace que el cambio de imagen sea suave
  }

  &__slide {
    min-width: 100%; // Cada imagen ocupa el 100% del contenedor
    box-sizing: border-box;

    .img-banner {
      width: 100%;
      height: auto;
    }
  }
}
